@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.wrapper {
  text-align: center;
}
.home-main {
  width: 947px;
  height: 154px;
  background: #6ec7e3;
  display: inline-block;
}

.home-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 97px;
}

.home-main li {
  display: inline;
  width: 207px;
  background: #c4c4c4;
  border-radius: 20px;
  height: 47px;
  line-height: 48px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #000000;
  margin-left: 20px;
  cursor: pointer;
}

.home-main li {
  float: left;
}

@media (max-width: 500px) {
  .home-main li {
    display: block;
    width: 350px;
    font-style: normal;
    height: 32px;
    font-size: 14px;
    float: none;
    margin-top: 5px;
    line-height: 30px;
    border-radius: 0px;
  }

  .home-main ul {
    margin-top: 0px;
    margin-left: 7px;
  }
  .home-main {
    width: 400px;
    height: 154px;
  }
}
